body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  background: #f4f4f4;
}

header {
  background: #333;
  color: white;
  padding: 1em;
  text-align: center;
}

nav a {
  color: #fff;
  margin: 0 1em;
  text-decoration: none;
}

section {
  margin: 2em auto;
  max-width: 800px;
  padding: 1em;
  background: white;
  border-radius: 6px;
}

/*ul {
  list-style: circle;
  padding: 0;
}

li {
  margin: 0.5em 0;
}
*/